@model IEnumerable<MiniSchool.Models.Classes>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Classes List</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary mb-3" })
    </p>

    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Id</div>
            <div class="col col-2">Class Name</div>
        </li>

        @foreach (var item in Model)
        {
            <li class="table-row">
                <div class="col col-1" data-label="Id">@item.ClassId</div>
                <div class="col col-2" data-label="Class Name">@item.ClassName</div>
                <div class="col col-3" data-label="Actions">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClassId }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ClassId }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClassId }, new { @class = "btn btn-danger btn-sm" })
                </div>
            </li>
        }
    </ul>
</div>

<style>
    body {
        font-family: 'lato', sans-serif;
    }

    .container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    h2 {
        font-size: 26px;
        margin: 20px 0;
        text-align: center;
    }

    .responsive-table {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .table-header {
        background-color: #95A5A6;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        padding: 10px;
    }

        .table-header .col {
            display: inline-block;
            padding: 10px;
        }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
        border-radius: 3px;
        padding: 25px 30px;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
    }

        .table-row .col {
            display: inline-block;
            padding: 10px;
        }

    .col-1 {
        flex-basis: 10%;
    }

    .col-2 {
        flex-basis: 50%;
    }

    .col-3 {
        flex-basis: 40%;
    }

    @@media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        .table-row {
            display: block;
        }

        .col {
            flex-basis: 100%;
            display: flex;
            padding: 10px 0;
        }

            .col:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
    }
</style>
